/** Stats  */
progress.stats {
	height: 14px;
	width: 100%;
}

/** Map */
	.map-container {
    	background-color: rgba(0,0,0,1);
   	}

/** Tiles */
	.tile {
		opacity: 1;
		color: #fff;
		padding: 0px;
	}

	.tile :hover {
		opacity: 1;
		cursor: pointer;
	}

	.water.tile {
		background-color: rgba(0,0,255,0.5);
		background-image: url('http://3.bp.blogspot.com/-IFmfJ19lZkw/Uk_6N6wNjNI/AAAAAAAACV8/OFQ1BOp1Ins/s640/AnimatedWater_012.png');
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.grass.tile {
		background-color: rgba(0,255,0,0.5);
		background-image: url('../tiles/grass.jpg');
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.forest.tile {
		background-color: rgba(0,100,0,0.5);
		background-image: url('../tiles/forest.png');
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;	
	}

	.player.tile {
		opacity: 1;
		border-color: red;
		box-shadow: none;		
	}

	.player.tile > img {
		width:		100%;
		height: 	100%;
		position: 	absolute;
		left:		0px;
		right:		0px;
		top:		0px;
		bottom:		0px;
	}

	@media (max-width: 380px) {
		.tile {
		  	border:  solid 0px rgba(255,255,255,0.2);	
			height:  11px;
		  	width:   11px;
		}

		.tile.row {
		  	border:  none;	
			width:   240px;
			height:  11px;

			margin-left: auto;
			margin-right: auto;	
		}
	}

	@media (min-width: 380px) {
		.tile {
		  	border:  solid 0px rgba(255,255,255,0.2);	
			height:  17px;
		  	width:   17px;
		}

		.tile.row {
		  	border:  none;	
			width:   360px;
			height:  17px;

			margin-left: auto;
			margin-right: auto;	
		}
	}

	@media (min-width: 580px) {
		.tile {
		  	border:  solid 0px rgba(255,255,255,0.2);	
			height:  26px;
		  	width:   26px;
		}

		.tile.row {
		  	border:  none;	
			width:   560px;
			height:  26px;

			margin-left: auto;
			margin-right: auto;	
		}
	}

	@media (min-width: 705px) {
		.tile {
		  	border:  solid 0px rgba(255,255,255,0.2);	
			height:  32px;
		  	width:   32px;
		}

		.tile.row {
		  	border:  none;	
			width:   672px;
			height:  32px;

			margin-left: auto;
			margin-right: auto;	
		}
	}

	@media (min-width: 945px) {
		.tile {
		  	border:  solid 0px rgba(255,255,255,0.8);	
			height:  42px;
		  	width:   42px;
		}

		.tile.row {
		  	border:  none;	
			width:   900px;
			height:  42px;

			margin-left: auto;
			margin-right: auto;	
		}
	}

